<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ورود مربی</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body class="auth-page">


<div class="auth-card">

    <div class="logo">
        FIT PLAN
    </div>

    <h1>ورود مربی</h1>

    <p class="auth-description">
        طراحی سریع برنامه تمرینی
    </p>


    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST">

         <label>شماره تماس</label>

        <input
            type="tel"
            name="phone"
            required
            placeholder="09123456789"
            inputmode="numeric">


        <label>رمز عبور</label>

        <input
            type="password"
            name="password"
            required
            placeholder="••••••••">


        <button class="main-button">
            ورود
        </button>
<div class="forgot-password-section">

    <button
        type="button"
        class="forgot-password-toggle"
        onclick="togglePasswordRecovery()"
    >
        بازیابی رمز عبور
    </button>

    <div
        id="passwordRecoveryBox"
        class="password-recovery-box"
    >

        <p class="recovery-description">
            نام و شماره موبایلی که با آن ثبت‌نام کرده‌اید را وارد کنید.
        </p>

        <input
            type="text"
            id="resetName"
            placeholder="نام و نام خانوادگی"
            autocomplete="name"
        >

        <input
            type="tel"
            id="resetPhone"
            placeholder="شماره موبایل"
            maxlength="11"
            inputmode="numeric"
            autocomplete="tel"
        >

        <button
            type="button"
            class="telegram-reset-btn"
            onclick="sendTelegramReset()"
        >
            ادامه در تلگرام
        </button>

    </div>

</div>


    <p class="switch-auth">

        حساب ندارید؟

        <a href="{{ url_for('register') }}">
            ثبت نام کنید
        </a>

    </p>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>

</html>
