<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ورود مربی</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body class="auth-page">


<div class="auth-card">

    <div class="logo">
        FIT PLAN
    </div>

    <h1>ورود مربی</h1>

    <p class="auth-description">
        طراحی سریع برنامه تمرینی
    </p>


    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST">

        <label>ایمیل</label>

        <input
            type="email"
            name="email"
            required
            placeholder="example@email.com">


        <label>رمز عبور</label>

        <input
            type="password"
            name="password"
            required
            placeholder="••••••••">


        <button class="main-button">
            ورود
        </button>

    </form>


    <p class="switch-auth">

        حساب ندارید؟

        <a href="{{ url_for('register') }}">
            ثبت نام کنید
        </a>

    </p>

</div>


</body>

</html>