<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ورود مربی</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body class="auth-page">


<div class="auth-card">

    <div class="logo">
        FIT PLAN
    </div>

    <h1>ورود مربی</h1>

    <p class="auth-description">
        طراحی سریع برنامه تمرینی
    </p>


    {% if error %}

        <div class="error">
            {{ error }}
        </div>

    {% endif %}


    <form method="POST">

         <label>شماره تماس</label>

        <input
            type="tel"
            name="phone"
            required
            placeholder="09123456789"
            inputmode="numeric">


        <label>رمز عبور</label>

        <input
            type="password"
            name="password"
            required
            placeholder="••••••••">


        <button class="main-button">
            ورود
        </button>

    </form>

    <div class="forgot-password-box">

    <p>رمز عبورتان را فراموش کرده‌اید؟</p>

    <button
        type="button"
        class="telegram-reset-btn"
        onclick="openTelegramReset()"
    >
        🔐 بازیابی رمز عبور
    </button>

</div>

<div id="telegramResetModal" class="reset-modal">

    <div class="reset-modal-content">

        <h3>بازیابی رمز عبور</h3>

        <p>
            نام و شماره‌ای که با آن در FIT PLAN ثبت‌نام کرده‌اید را وارد کنید.
        </p>

        <input
            type="text"
            id="resetName"
            placeholder="نام و نام خانوادگی"
        >

        <input
            type="tel"
            id="resetPhone"
            placeholder="شماره موبایل"
            maxlength="11"
        >

        <button
            type="button"
            onclick="sendTelegramReset()"
        >
            ادامه در تلگرام
        </button>

        <button
            type="button"
            onclick="closeTelegramReset()"
        >
            انصراف
        </button>

    </div>

</div>


    <p class="switch-auth">

        حساب ندارید؟

        <a href="{{ url_for('register') }}">
            ثبت نام کنید
        </a>

    </p>

</div>


</body>

</html>
